.CarTableContainer {
    width: 100%;
    background-color: #D7CEB2;
}

a.CarDetailsButton {
    text-decoration: black;
}

.Table{
    background-color: #D7CEB2;
    border:black;
}

.Button{
    width: 35%;
}

.TableContainer{
    background-color: #D7CEB2;
}

